name: Release

on:
  push:
    tags:
      # use `date +%Y%m%d` as tag
      - '20*'

jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        package:
          - injector
    uses: ./.github/workflows/jsr.yml
    with:
      package: ${{ matrix.package }}
      semantic-version: "${GITHUB_REF#refs/tags/}"
