name: Release

on:
  push:
    tags:
      - '20*'

jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        package:
          - injector
    uses: ./.github/workflows/jsr.yml
    with:
      package: ${{ matrix.package }}
